In [2]:
import os
import json
import jsonlines
import numpy as np
import pandas as pd
from IPython.display import display, HTML

import seaborn as sns
import matplotlib.pyplot as plt

from tqdm.notebook import tqdm

### Runs

In [ ]:
# Baseline
data_dict = {
    "model": [],
    "task": [],
    "num": [],
    "variant": [],
    "score": [],
}

runs_list = os.listdir("data/runs/baseline/")
for run in runs_list:
    model, task, _, num, variant = run.split(":")
    with open(f"data/runs/baseline/{run}/result.json") as f:
        results = json.load(f)
    data_dict["model"].append(model)
    data_dict["task"].append(task)
    data_dict["num"].append(num)
    data_dict["variant"].append(variant)
    data_dict["score"].append(results["avg_accuracy"])

run_df = pd.DataFrame(data_dict)
run_df.pivot_table(
    index=["model", "task"],
    values="score",
    aggfunc="mean",
    fill_value=0
)

                                           score
model                    task
Qwen-Qwen2.5-7B-Instruct test_gsm_plus  0.828333

In [ ]:
# Baseline
data_dict = {
    "iteration": [],
    "model": [],
    "task": [],
    "num": [],
    "variant": [],
    "score": [],
}

MODEL = "Qwen-Qwen2.5-3B-Instruct"
for it in range(1,5):
    run_path = f"data/runs/{MODEL}-DPO-{it}"
    runs_list = os.listdir(run_path)
    for run in runs_list:
        model, task, num, variant = run.split(":")
        with open(f"{run_path}/{run}/result.json") as f:
            results = json.load(f)
        data_dict["iteration"].append(it)
        data_dict["model"].append(model)
        data_dict["task"].append(task)
        data_dict["num"].append(num)
        data_dict["variant"].append(variant)
        data_dict["score"].append(results["avg_accuracy"])

run_df = pd.DataFrame(data_dict)
run_df.pivot_table(
    index=["model", "task", "iteration"],
    values="score",
    aggfunc="mean",
    fill_value=0
)

                                                     score
model                    task          iteration
Qwen-Qwen2.5-7B-Instruct test_gsm_plus 1          0.718333
                                       2          0.734444
                                       3          0.755000
                                       4          0.771667